body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  margin: 0;
}
#root{
  height: 100vh;
}


.container{
  height: 100%;
  width: 100%;
}
.main-box {
  background-image: url('./bg.svg');
  height: 100%;
  display: flex;
  justify-content: center;

  .central {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 45px;
      color: white;
      font-weight: 100;
    }
    .text-box{
      margin-bottom: 22px;
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    .btn-main{
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
      padding: 6px 12px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      border: 1px solid transparent;
      border-radius: 4px;
      margin-left: 46px;
      text-decoration: none;
      cursor: pointer;

    }
  }
}

.navbar{
  background: rgba(252,90,44,.89);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  .logo{
    text-decoration: none;
    color: white;
  }

  .text-box{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  .btn-main{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 10px 10px 0 10px;
    text-decoration: none;
    cursor: pointer;
  }
  .search-nav{
    margin-top: 20px;
    .search-container{
      @media screen and (min-width: 280px) and (max-width: 530px){
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.city-name{
  font-size: 65px;
  text-align: center;
  font-weight: 100;
}
.forecast-container{
  display: flex;
  max-width: 1300px;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: center;

  .day-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 35px;
    .weather-icon{
      height: 130px;
      cursor: pointer;
    }
    .date{
      font-size: 30px;
      color: #333;
      font-weight: 100;
      cursor: pointer;
    }
  }
}
.weather-link{
  text-decoration: none
}
.details-container{
  .back-arrow{
    width: 5%;
    padding: 34px;
    color: rgba(164, 207, 196, 0.82)
  }
  .day-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 35px;
    .weather-icon{
      height: 130px;
    }
    .date{
      font-size: 30px;
      color: #333;
      font-weight: 100;
    }
  }
  .description-details{
    font-size: 34px;
    font-weight:100;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    .city-name-details{
      font-size: 40px;
      font-weight: 400;
    }
    .min-temp{
      color: rgba(101, 195, 224, 0.97)
    }
    .max-temp{
      color: rgba(236, 118, 80, 0.97)
    }
  }
}
.not-found-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  .not-found-img{
    width: 20%;
  }
}
